<mat-menu #appMenu>
    <button mat-menu-item [matMenuTriggerFor]="subMenu">Frontend</button>
    <button mat-menu-item>Backend</button>
    <button mat-menu-item>FullStack</button>
</mat-menu>

<button mat-raised-button [matMenuTriggerFor]="appMenu" color="warn">Menu</button>

<mat-menu #subMenu>
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
</mat-menu>

<!-- Create a button logout that contains name of user -->
<mat-menu #lazymenu>
    <ng-template matMenuContent let-name="name" let-hobby="hobby">
        <button mat-menu-item>Setting</button>
        <button mat-menu-item>hobby {{hobby}}</button>
        <button mat-menu-item>Logout {{name}}</button>
    </ng-template>
</mat-menu>

<button mat-raised-button [matMenuTriggerFor]="lazymenu" [matMenuTriggerData]="{name:'User 1', hobby:'drinking'}">User 1</button>
<button mat-raised-button [matMenuTriggerFor]="lazymenu" [matMenuTriggerData]="{name:'User 2', hobby: 'smoking'}">User 2</button>