<mat-form-field appearance="fill" hideRequiredMarker>
    <mat-label>Topic</mat-label>
    <mat-select [(value)]="selectedValue" multiple>
        <mat-option>None</mat-option>
        <mat-optgroup label="Frontend">
            <mat-option value="angular">Angular</mat-option>
            <mat-option value="react">React</mat-option>
            <mat-option value="vue">Vue</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Database">
            <mat-option value="angular">Mongodb</mat-option>
            <mat-option value="react">Mysql</mat-option>
        </mat-optgroup>
    </mat-select>
</mat-form-field>

<h3>selected: {{selectedValue}}</h3>