<mat-sidenav-container>
   <mat-sidenav #sideNav (opened)="log('Opened')" (closed)="log('Closed')" mode="side" [(opened)]="navIsOpen">Side nav</mat-sidenav>
    <mat-sidenav-content>Main Content
        <!-- 1st way to show / hide side nave -->
        <button mat-raised-button color="primary" (click)="navIsOpen=!navIsOpen">Toggle Open</button>
        <!-- 2nd way to show / hide side nave -->
        <button mat-raised-button (click)="sideNav.open()">Open</button>
        <button mat-raised-button (click)="sideNav.close()">Close</button>
        <!-- 3st way to show / hide side nave -->
        <button mat-raised-button color="warn" (click)="sideNav.toggle()" >Toggle</button>
    </mat-sidenav-content>
</mat-sidenav-container>
